div.app-content {
  margin-top: -9px;
}
span.logo-text {
  font-size: 18px;
}
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}
.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
div.navbar {
  background-color: #e4361a;
  border: 0px;
  min-height: 45px;
  position: relative;
}
div.navbar-brand {
  line-height: 10px;
  padding: 16.5px;
}
div.navbar-app {
  color: #fff;
}
div.side-menu-right {
  position: absolute;
  padding: 12px 8px;
}
div.side-menu-left {
  position: absolute;
  padding: 8px 0px 0px 8px;
  left: 0px;
}
div.navbar-search {
  right: 38px;
}
div.navbar-write {
  right: 6px;
}
div.navbar-write a {
  color: #fff;
}
div.app-body {
  padding-top: 0px !important;
}
.body-navbar {
  text-align: center;
  background-color: #1c1d1f;
  padding: 0 17px 0 16px;
}
div.body-navbar ul {
  display: table;
  line-height: 38px;
  padding: 0px;
  width: 100%;
  height: 38px;
}
div.body-navbar ul li {
  display: table-cell;
  float: left;
  list-style: none;
  width: 25%;
  height: 100%;
}
div.body-navbar ul li a {
  color: #7d7e7f;
  text-decoration: none;
  position: relative;
  display: block;
}
div.body-navbar ul li.active a {
  color: #fff;
}
div.body-navbar ul li.active a::after {
  display: block;
  position: absolute;
  margin-top: -1px;
  width: 35px;
  margin-left: -17px;
  height: 2px;
  left: 50%;
  content: "";
  background-color: #e4361a;
}
/*# sourceMappingURL=index.css.map */