div.viewContainer {
  padding: 0 0 80px 0;
}
div.viewMenu {
  border-bottom: 1px solid #d9d9d9;
}
div.viewMenuTop div.authenticate {
  position: relative;
  float: right;
}
div.viewMenuTop a {
  font-family: "나눔고딕", NanumGothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
}
div.viewMenuTop a.memberId {
  font-size: 14px;
  color: #222;
}
div.viewMenuTop div.authenticate span.bar {
  color: #dee0e2;
}
div.viewMenuTop div.authenticate a.edit,
a.delete {
  font-size: 12px;
  color: #92989f;
}
div.viewMenu div.viewMenuSubTop {
  padding: 11px 0 0;
}
div.viewMenu div.viewMenuSubTop h3 {
  font-size: 17px;
  font-weight: bold;
  color: #222;
  word-break: break-all;
}
div.viewMenu div.viewMenuSubTop h6 {
  color: #999;
}
div.viewMenu div.viewMenuSubTop span {
  font-size: 15px;
  margin-right: 10px;
  color: #bdc1c9;
  line-height: 44px;
}
div.viewMenu div.viewMenuSubTop span:not(:first-child)::before {
  margin-right: 10px;
  content: "|";
}
div.viewText {
  margin-top: 5px;
}
div.viewText div.viewTitle {
  height: 44px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 15px 0;
  line-height: -moz-block-height;
  -webkit-box-align: center;
  display: -webkit-box;
}
div.viewText div.viewTitle textarea {
  height: auto;
  font-size: 15px;
  color: #898c93;
  resize: none;
  border: none;
  width: 100%;
  padding: 4px 0 0;
}
/*div.viewText div.viewBody {
  height: 350px;
  margin-top: 10px;
}
div.viewText div.viewBody p {
  height: auto;
  font-size: 15x;
  line-height: 19px;
  resize: none;
  border: 0;
  color: #555;
  padding: 4px 0 0;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 10px 10px 10px;
}*/
div.viewText p img{
  width:100%;
}