<div ui-content-for="title">
    <span>create</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">
        <div class="createContainer">

			<div class="createMenu">
				<div class="createMenuTop">
					<a class="cancel" ng-click="cancel()">취소</a>
					<h2>글작성</h2>
					<a class="save" ng-click="create()">저장</a>
				</div>

				<div class="createMenuSubTop">
					<span ng-click="fromAlbum()">사진</span>
					<span>동영상</span> 
				</div>
			</div>

			<div class="createText">
				<div class="createTitle">
					<textarea ng-model="title" title="" id="postTitle" maxlength="34" placeholder="제목" rows="1" cols="50"></textarea>
				</div> 
				
				<div class="createBody" id="createBody" contenteditable="true" ng-blur="returnTextArea()">
				</div>
					<!-- 2016.09.15
					<div contenteditable="false" id="img61">
					<a ng-click="imageDelete(61)"></a>
					<p><img src="http://localhost:8080/shareJoy/resources/Lighthouse.jpg"></p>
					</div>
					<br/> -->

					<!-- 2016.06.08
					<textarea ng-model="body" title="" id="postText" rows="2" cols="50" placeholder="본문" ng-keyup="resizeTextArea($event)" ng-blur="returnTextArea()"></textarea>
					<img id="image" > -->
			</div>

        </div>
    </div>
</div>
