<div ui-content-for="title">
    <span>news home</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section" id="home_list">
        <div class="container">	
        	<div id="newsSearchDiv">
        		<input type="text" placeholder="뉴스를 검색하세요." ng-model="searchNews" ><input ng-click="searchNewsList()" type="button" value="검색"> 
        	</div>
            <a ng-repeat="news in newsList" class="list-group-item news-list-item" ng-click="gotoNews($index)">
            	<div>
            		<table>
            			<tr>
            				<td rowspan="2"><img src="{{news.imgPath}}"></td>
            				<td>{{news.title}}</td>
            			</tr>
            			<tr>
            				<td>{{news.writeTime}}</td>
            			</tr>
            		</table>
            	</div>
            </a>
        </div> 
    </div>
</div>