<div ui-content-for="title">
    <span>signup</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">
        <div class="container">
            <form ng-submit="signup(form)" method="POST" name="form" novalidate>
                <fieldset>
                    <legend>Signup</legend>
                    <div class="form-group has-success has-feedback">
                        <label>Id</label>
                        <input type="text" name="id" class="form-control" ng-model="userId" placeholder="아이디" ng-blur="idBlur(userId)" ng-minlength="3" ng-maxlength="10" ng-pattern="/^[A-Za-z0-9]*$/" required autofocus>
                        <p ng-show="idError==1">{{idErrMsg}}</p>
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-blur="pwBlur(password)" ng-model="password" placeholder="비밀번호" ng-minlength="6" ng-maxlength="15" required>
                        <p ng-show="pwError==1">{{pwErrMsg}}</p>
                    </div>
                    
                    <div class="form-group">
                        <label>Password Check</label>
                        <input type="password" class="form-control" ng-blur="pwBlurCheck(passwordCheck)" ng-minlength="6" ng-maxlength="15" ng-model="passwordCheck" placeholder="비밀번호 재확인" required>
                        <p ng-show="pwErrorCheck==1">{{pwErrMsg}}</p>
                    </div>
                    
                    <div class="form-group">
                        <label>Gender</label><br/>
                        <a class="btn btn-default" ng-model="gender" ng-class="{'btn-info': gender == '남'}" ng-click="selectGender('남')">남자</a>
                        <a class="btn btn-default" ng-model="gender" ng-class="{'btn-info': gender == '여'}" ng-click="selectGender('여')">여자</a>
                    </div>
                    <br/>

                    <button class="btn btn-primary btn-block" type="submit" ng-disabled="form.$invalid">
                        <i class="fa fa-check"></i>가입
                    </button>
                    <br/>
                </fieldset>
            </form>
        </div>
    </div>
</div>
