<div ui-content-for="title">
    <span>edit</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">
        <div class="createContainer">

			<div class="createMenu">
				<div class="createMenuTop">
					<a class="cancel" ng-click="cancel()">취소</a>
					<h2>글수정</h2>
					<a class="save" ng-click="update()">저장</a>
				</div>

				<div class="createMenuSubTop">
					<span ng-click="fromAlbum()">사진</span>
					<span>동영상</span>
				</div>
			</div>

			<div class="createText">
				<div class="createTitle">
					<textarea ng-model="title" title="" id="postTitle" maxlength="50" placeholder="제목" rows="1" cols="50">{{title}}</textarea>
				</div> 
				<div class="createBody" id="viewEditBody" contenteditable="true" ng-blur="returnTextArea()">
					<p contenteditable="true" ng-bind-html="viewList[index].body"></p>
				</div>
				<!-- {{viewList[index].body}} -->
					<!-- <p contenteditable="false" ng-bind-html="viewList[index].body"></p> -->

				<!-- <div class="createBody">
					<textarea ng-model="body" title="" id="postText" rows="2" cols="50" placeholder="본문" ng-bind-html="body"></textarea>
				
				</div> -->
			</div>

        </div>
    </div>
</div>
