<div ui-content-for="title">
    <span>view</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">
        <div class="viewContainer">

			<div class="viewMenu">
				<div class="viewMenuTop">
					<a class="memberId" href="#">{{viewList[index].memberId}}</a>
					<div class="authenticate" ng-if="member && member.member_id == viewList[index].member_id">
						<a class="edit" ng-click="gotoEdit()" >수정</a>
						<span class="bar">|</span>
						<a class="delete" ng-click="delete()">삭제</a>
					</div>
				</div>

				<div class="viewMenuSubTop">
					<h3>{{viewList[index].title}}</h3>
					<h6>{{viewList[index].times}}</h6>
				</div>
			</div>

			<div class="viewText">
				<!-- <div class="scrollable-content viewBody"> -->
					<p ng-bind-html="viewList[index].body"></p> 
				<!-- </div> -->
			</div>

        </div>
    </div>
</div>
