div.createContainer {
  padding: 0 0 100px 0;
}
div.createMenu div.createMenuTop {
  height: 44px;
  text-align: center;
  border-bottom: 1px solid #cfcfcf;
}
div.createMenuTop a,
div.createMenuTop h2 {
  font-weight: bold;
  font-family: "나눔고딕", NanumGothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  line-height: 44px;
}
div.createMenu div.createMenuTop h2 {
  display: inline-block;
  font-size: 17px;
  color: #222;
}
div.createMenu div.createMenuTop a.cancel {
  float: left;
  margin-left: 5px;
}
div.createMenu div.createMenuTop a.save {
  float: right;
  margin-right: 5px;
}
div.createMenu div.createMenuTop a {
  position: relative;
  font-size: 16px;
  color: #e4361a;
  padding: 0 8px;
}
div.createMenu div.createMenuSubTop {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  background-color: #f9f9f9;
}
div.createMenu div.createMenuSubTop span {
  font-size: 15px;
  color: #bdc1c9;
  line-height: 44px;
}
div.createMenu div.createMenuSubTop span:fisrt-child {
  float: left;
}
div.createMenu div.createMenuSubTop span:last-child {
  margin-right: 10px;
}
div.createMenu div.createMenuSubTop span:not(:first-child)::before {
  margin-right: 10px;
  content: "|";
}
div.createText div.createTitle {
  height: 44px;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 15px 0;
  line-height: -moz-block-height;
  -webkit-box-align: center;
  display: -webkit-box;
}
div.createText div.createTitle textarea {
  height: auto;
  font-size: 15px;
  color: #898c93;
  resize: none;
  border: none;
  width: 100%;
  padding: 4px 0 0;
}
div.createText div.createBody {
  height: auto;
  padding: 10px;
  margin-top: 10px;
}
div.createText div.createBody div{
  position: relative;
}
div.createText div.createBody img {
  width: 100%;
  height: 250px;
}
div.createText div.createBody a {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/remove.png) no-repeat;
  margin: -15px -15px 0 -20px;
  right:0px;
  background-size: 40px;
}