input,
button {
  height: 40px;
}
div.container {
  padding: 5px 0 80px 0px;
}
form.loginForm {
  margin-bottom: 15px;
}
div.find_info {
  padding: 15px;
  border-top: 1px solid #e4e4e4;
  color: #889;
  text-align: center;
}
div.find_info a {
  display: inline-block;
  font-size: 13px;
  color: #889;
  line-height: 13px;
  text-decoration: none;
}
div.find_info span {
  padding: 3px;
}
/*# sourceMappingURL=login.css.map */