div.createText div.modifyBody {
  height: auto;
  padding: 10px;
  margin-top: 10px;
}
div.createText div.modifyBody div{
  position: relative;
}
div.createText div.modifyBody img {
  width: 100%;
  height: 250px;
}
div.createText div.modifyBody a {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../img/remove.png) no-repeat;
  margin: -15px -15px 0 -20px;
  right:0px;
  background-size: 40px;
}