<div ui-content-for="title">
    <span>home</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section" id="home_list">
        <div class="container">
            <a ng-repeat="views in titleList" class="list-group-item" ng-click="gotoView(views.board_id)">
            	{{views.title}}
            </a>
            <a class="list-group-item" ng-click="loadViewList(5)">더 보기..</a>
        </div> 
    </div>
</div>
