<div ui-content-for="title">
    <span>news</span>
</div>

<div class="scrollable">
    <div class="scrollable-content section">
        <div class="newsContainer">

			<div class="viewMenu">
				<div class="viewMenuTop">
					<h3>{{news.title}}</h3>
				</div>
			
				<div class="viewMenuSubTop">
					<h5>{{news.writeTime}}</h5>
				</div>
			</div>
			
			<div class="newsText">
				<div class="scrollable-content viewBody">
					<p><img src="{{news.imgPath}}"></p>
					<p>{{news.contents}}</p> 
				</div>
			</div>

			<div class="newsFooter">
				<a href="{{news.link}}">전체 내용 보기</a>
			</div>
			
        </div>
    </div>
</div>
