<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8" />
    <title>shareJoy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-base.min.css" />
    <script src="dist/js/angular.min.js"></script>
    <link rel="stylesheet" href="dist/css/mobile-angular-ui-desktop.min.css" />
    <script src="dist/js/jquery-2.2.3.js"></script>
    <script src="dist/js/angular-route.min.js"></script>
    <script src="dist/js/mobile-angular-ui.min.js"></script>
    <!-- Required to use $touch, $swipe, $drag and $translate services -->
    <script src="dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/myApp.js"></script>
    <script src="js/serverService.js"></script>
    <script src="js/photoService.js"></script>
    <!-- <script src="plugin/se2/init.js" type="text/javascript"></script>
    <script src="plugin/se2/js/HuskyEZCreator.js" type="text/javascript"></script> -->
    <!-- css 적용 -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/login.css"/>
    <link rel="stylesheet" href="css/signup.css"/>
    <link rel="stylesheet" href="css/create.css"/>
    <link rel="stylesheet" href="css/view.css"/>
    <link rel="stylesheet" href="css/viewEdit.css"/>
    <link rel="stylesheet" href="css/news.css"/>
</head>

<body ng-controller="MainController" ui-prevent-touchmove-defaults>

        <!-- Navbars -->
        <div class="navbar navbar-app navbar-absolute-top">
            <div class="navbar-search side-menu-left">
                <span class="logo-text">shareJoy</span>
            </div>
            <div class="navbar-brand navbar-brand-center" ui-yield-to="title" id="ancTop">home</div>
            <div class="navbar-search side-menu-right">
                <form>
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <div class="navbar-write side-menu-right">
                <a href="#/create"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
   
        <!-- App Body -->
        <div class="app-body" ng-class="{loading: loading}" >
            <div ng-show="loading" class="app-content-loading">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>
            <div class="body-navbar" id="ancMiddle">
                <ul>
                    <li ng-class="{'active':activeTab == 1}"><a ng-click="activeTab=1" href="#/">Home</a></li>
                    <li ng-class="{'active':activeTab == 2}"><a ng-click="activeTab=2" href="#/today">Today</a></li>
                    <li ng-class="{'active':activeTab == 3}"><a ng-click="activeTab=3" href="#/news">News</a>
                    <li ng-class="{'active':activeTab == 4}"><a ng-click="activeTab=4" href="#/login">My</a>
                    </li>
                </ul>
            </div>
            <div class="app-content">
                <ng-view></ng-view>
            </div>
        </div>

    <div ui-yield-to="modals"></div>

</body>

</html>
