<div ui-content-for="title">
    <span>login</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">
        <div class="container">
            <form method="post" ng-submit="login()">
                <fieldset>
                    <legend>Login</legend>
                    <div class="form-group has-success has-feedback">
                        <label>Login ID</label>
                        <input type="text" class="form-control" ng-model="memberId" name="memberId" placeholder="아이디">
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" ng-model="password" placeholder="비밀번호">
                    </div>
                    
                    <div class="form-group">
                        <label>자동로그인</label>
                        <ui-switch ng-model="autoLogin"></ui-switch>
                    </div>
                    <br/>

                    <button class="btn btn-primary btn-block" type="submit">로그인</button>
                    <br/>
                </fieldset>
            </form>

            <div class="find_info">
                <a href="#">아이디 찾기</a>
                <span>|</span>
                <a href="#">비밀번호 찾기</a>
                <span>|</span>
                <a href="#/signup">회원가입</a>
            </div>
        </div>
    </div>
</div>
