<div ui-content-for="title">
    <span>mypage</span>
</div>


<div class="scrollable">
    <div class="scrollable-content section">
        <div class="container">
            <a class="btn btn-info btn-block" ng-click="logout()">
            	로그 아웃 - {{member.memberId}}
            </a>
        </div>
    </div>
</div>
