div.newsContainer{
	padding:0 0 80px 0;
}
.news-list-item {
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.news-list-item table tbody tr:first-child td:nth-child(1){
	width:36%;
}
.news-list-item table tbody tr:first-child td:nth-child(1) img{
	height: 80px;
	width:100%;
	min-width: 125px;
}
.news-list-item table tbody tr:first-child td:nth-child(2){
	font-size: 0.8em;
	padding:5px;
	padding-left: 10px;
	font-weight: bold;
}
.news-list-item table tbody tr:last-child td{
	font-size: 0.8em;
	padding:5px;
	padding-left: 10px;
}
#newsSearchDiv input:first-child{
	width:80%;
}
.newsText div p:first-child{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.newsText div p:last-child{
	margin-left: 5%;
	margin-right: 5%;
}
.newsText div p:first-child img{
	width:80%;
}
div.newsFooter{
	text-align: center;
}